absl-py
alembic
altgraph
astunparse
bcrypt
blinker
cachelib
cachetools
certifi
cffi
charset-normalizer
click
cryptography
Flask
Flask-Bcrypt
Flask-Cors
Flask-Migrate
Flask-Session
Flask-SQLAlchemy
flatbuffers
future 
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
itsdangerous
Jinja2
keras
libclang
macholib 
Mako
Markdown
MarkupSafe
ml-dtypes
numpy
oauthlib
opencv-python
opt-einsum
packaging
pillow
protobuf
pyasn1
pyasn1-modules
pycparser
pyOpenSSL
requests
requests-oauthlib
rsa
six
SQLAlchemy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-io-gcs-filesystem
termcolor
tf-keras
typing_extensions
urllib3
Werkzeug
wrapt
zipp
gunicorn